.answer-container {
  width: 40rem;
  height: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-width: 2px;
  border-radius: 0.375rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 0.75rem auto;
  background-color: white;
}

.selected {
  background-color: #312e81;
  color: white;
}

.answer-container:hover:not(.review-mode) {
  background-color: #312e81;
  color: white;
}

.answer-container p {
  font-weight: 500;
  line-height: 1.75rem;
  font-size: 1.125rem;
}

.correct {
  background-color: #10b981;
  color: white;
}

.incorrect {
  background-color: #ef4444;
  color: white;
}
