.welcome-heading {
  margin: 0;
  color: white;
  font-size: 3rem;
  padding-top: 4rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.start {
  display: flex;
  justify-content: center;
}

.start-btn {
  background-color: #6ed5b7;
  text-align: center;
}

.start-btn:hover,
#tryagain:hover {
  background-color: #10b981;
  color: white;
}
