body {
  margin: 0;
  background-color: #a5b4fc;
}

button {
  display: flex;
  font-size: 1.125rem;
  font-weight: 700;
  padding: 0.75rem 4rem;
  line-height: 1.75rem;
  border-radius: 0.5rem;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
