.ingame-container {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.test-btn {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 2rem;
}

#previous {
  color: white;
  background-color: #6b7280;
}

#previous:hover {
  color: white;
  background-color: #d1d5db;
}

.disabled {
  background-color: #e5e7eb !important;
  color: #d1d5db !important;
  cursor: not-allowed;
}

.question-container {
  width: 45rem;
  height: 14rem;
  background-color: white;
  padding: 4rem 1rem 0 1rem;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  border-radius: 0.375rem;
}

.question-container .question-text {
  text-align: center;
  font-weight: 500;
  line-height: 1.75rem;
  font-size: 1.125rem;
  color: #4f46e5;
  width: 100%;
  margin-bottom: 2rem;
}

.question-text span {
  font-weight: 1000;
}

.question {
  text-align: center;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

#next {
  background-color: #6ee7b7;
}

#next:hover {
  background-color: #10b981;
  color: white;
}

#submit,
#restart {
  background-color: #f59e0b;
  color: white;
}

#submit:hover,
#restart:hover {
  background-color: #fbbf24;
}
